"*":
  "autocomplete-plus":
    enableAutoActivation: false
  "bracket-matcher": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "background-tips"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai-seti"
    ]
  editor:
    fontSize: 12
    showInvisibles: true
  "exception-reporting":
    userId: "7ef383a4-a920-41bb-a00c-289200831fcf"
  "seti-syntax":
    dynamicColor: false
    themeColor: "Blue"
  "seti-ui":
    compactView: true
  welcome:
    showOnStartup: false
